repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
    -   id: pyproject-fmt
        args: [
            "--indent", "4",
            "--keep-full-version",
            "--max-supported-python", "3.14",
        ]

# Inspired from https://til.unessa.net/git/pre-commit-hook/
-   repo: local
    hooks:
    -   id: uv-lock-check
        name: uv lock --check
        entry: uv lock --check
        language: python
        files: '^(pyproject.toml|uv.lock)$'
        pass_filenames: false
        additional_dependencies:
          - uv==0.9.17

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff-check
        name: ruff lint
        args: ["--fix"]
    -   id: ruff-format
        name: ruff format

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    -   id: django-upgrade

-   repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
    -   id: format-justfile
        name: format justfile

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: ["--ignore-words-list", "ABL, wast"]
