repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
    -   id: pyproject-fmt
        args: [
            "--indent", "4",
            "--keep-full-version",
            "--max-supported-python", "3.14",
        ]

-   repo: https://github.com/ulgens/uv-lock-check
    rev: v0.1.0
    hooks:
    -   id: uv-lock-check
        additional_dependencies:
          - uv==0.9.18

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    -   id: ruff-check
        name: ruff lint
        args: ["--fix"]
    -   id: ruff-format
        name: ruff format

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    -   id: django-upgrade

-   repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
    -   id: format-justfile
        name: format justfile

-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.0
    hooks:
    # https://check-jsonschema.readthedocs.io/en/stable/precommit_usage.html#check-a-builtin-schema
    -   id: check-jsonschema
        name: "Check GitHub Workflows set timeout-minutes"
        files: ^\.github/workflows/[^/]+$
        types: [ yaml ]
        args: [ "--builtin-schema", "github-workflows-require-timeout" ]
    -   id: check-github-workflows
    -   id: check-renovate
        additional_dependencies:
          - pyjson5==2.0.0

-   repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.20.0
    hooks:
    -   id: zizmor
        args: ["--no-progress", "--persona=auditor"]

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: ["--ignore-words-list", "ABL, wast"]
