repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.16.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.6
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade

  - repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
      - id: format-justfile

  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      # TODO:
      #   Consider migration to actionlint
      #   https://github.com/python-jsonschema/check-jsonschema/issues/586
      #   https://github.com/rhysd/actionlint
      - id: check-github-workflows
      # https://check-jsonschema.readthedocs.io/en/stable/precommit_usage.html#check-a-builtin-schema
      - id: check-jsonschema
        name: "Check GitHub Workflows set timeout-minutes"
        files: ^\.github/workflows/[^/]+$
        types: [yaml]
        args: ["--builtin-schema", "github-workflows-require-timeout"]
      # https://github.com/python-jsonschema/check-jsonschema/pull/643#issuecomment-3903138224
      # https://github.com/python-jsonschema/check-jsonschema/issues/586
      - id: check-renovate
        files: ^renovate.json5$
        language: python
        additional_dependencies:
          - pyjson5==2.0.0

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: ["--no-progress", "--persona=auditor"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words-list", "ABL, wast"]
