# Database
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=blasphemy
POSTGRES_DB_USER=blasphemy_user
POSTGRES_DB_PASSWORD=blasphemy_unsecure_password
POSTGRES_HOST_FORWARD_PORT=5432

# Django
APP_REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
DATABASE_URL=postgres://blasphemy_user:blasphemy_unsecure_password@db:5432/blasphemy
USE_SSL=False

ENABLE_SENTRY=False
