[tool.poetry]
name = "django-blasphemy"
version = "0.1.0"
description = ""
authors = ["Ülgen Sarıkavak <ulgensrkvk@gmail.com>"]

[tool.poetry.dev-dependencies]
# Debugging
ipdb = "0.13.9"
ipython = "8.4.0"
# Formatters
black = "22.3.0"
django-migrations-formatter = {extras = ["black", "isort"], version = "1.0.0"}
fixit = "0.1.4"  # https://github.com/Instagram/Fixit
flake8 = "4.0.1"
flake8-bugbear = "22.6.22"
flake8-builtins = "1.5.3"
flake8-comprehensions = "3.10.0"
isort = "5.10.1"
pep8-naming = "0.13.0"
shed = "0.10.1"
# Quality check
pre-commit = "2.19.0"

[tool.poetry.dependencies]
python = "^3.10"
Django = "4.0.5"
django-admin-interface = "0.19.1"
django-debug-toolbar = "3.5.0"
django-environ = "0.9.0"
django-extensions = "3.1.5"
dj-database-url = "0.5.0"
GitPython = "3.1.27"
gunicorn = "20.1.0"
psycopg2-binary = "2.9.3"
sentry-sdk = "1.6.0"
whitenoise = "6.2.0"

[build-system]
requires = ["poetry-core>=1.1.8"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py310"]
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
