# https://github.com/pre-commit/action

name: "pre-commit"

on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.1.0
      name: Checkout

    - uses: pre-commit/action@v3.0.0
      name: Run pre-commit checks
