name: "Lint & formatting check"

on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  run-prek:
    name: prek run --all-files
    runs-on: ubuntu-24.04
    timeout-minutes: 1

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Run prek
      uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
