# Adapted from https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions

name: "Tests"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request: ~

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: 3.14.3
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.10.4

jobs:
  run-django-tests:
    name: python manage.py test --parallel --shuffle
    runs-on: ubuntu-24.04
    timeout-minutes: 1

    services:
      postgres:
        image: postgres:18.1-alpine3.21@sha256:44d837eb4c2ed263474a95f0cc24745413c50924df60dd73ed6c4c3e36b84259
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
      redis:
        image: redis:8.0.5-alpine3.21@sha256:6c8e66693fa71bad36ae06c75c990446ad01dbd4b081dd847eb9869f20d7c6ee
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        name: Checkout
        with:
          persist-credentials: false

      - name: Install uv ${{ env.UV_VERSION }} & Python ${{ env.PYTHON_VERSION }}
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b  # v7.3.0
        with:
          # The default value is "auto" and it resolves to "true" in Github-hosted runners, but explicit is better.
          enable-cache: true
          # uv can install Python, no need for actions/setup-python
          # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#do-i-still-need-actionssetup-python-alongside-setup-uv
          # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#python-version
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ env.UV_VERSION }}

      - name: Install packages
        run: uv sync --frozen --no-install-project

      - name: Run tests
        working-directory: ./src
        env:
          APP_REDIS_URL: "redis://localhost:${{ job.services.redis.ports[6379] }}/1"
          CELERY_BROKER_URL: ""
          CELERY_RESULT_BACKEND: ""
          DATABASE_HOST: "localhost"
          DATABASE_NAME: "postgres"
          DATABASE_USER: "postgres"
          DATABASE_PASSWORD: "postgres"
          DATABASE_PORT: "${{ job.services.postgres.ports[5432] }}"
          SECRET_KEY: ""
          USE_SSL: "false"
        run: |
          uv run python manage.py wait_for_db
          uv run python manage.py wait_for_cache
          uv run coverage run manage.py test --parallel --shuffle
          uv run coverage report
          uv run coverage xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
